*{
    font-family: 'Special Elite', cursive;
}

.box {
    background: black;
    height: 7px;
    width: 100px;
}

section {
    margin: auto;
    overflow: left;/*propiedad para que respete a su papá*/
    width: 780px;
}

h1, .box {
    margin-left: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    background-image: url('../assets/images/css_sprites.png');/*se usa para tener imagenes de fondo*/
    float: left;/*hacemos que los elementos de la lista es decir las imagenes floten hacia la izquierda*/
	height: 242px;
	width: 220px;
    list-style: none;/*quita las viñetas*/
    position: relative;
    margin: 20px;
}

ul li a {
    /*outline: 1px solid red;*/
    box-sizing: border-box;/*para que los cambios o adiciones no afenten su tamaño normal*/
    color: white;
    display: block;/*para que el elemento a que es inline se comporte como bloque*/
    height: 242px;
    width: 220px;
    padding: 220px 10px 0 0;/*para que el texto se pueda ubicar en la parte baja*/
    text-align: right;
    text-decoration: none; /*le quita el subrayado y color propio de los enlaces*/
}

ul li#dary {
    background: url('../assets/images/css_sprites.png') -250px -10px;
}

ul li#diana {
    background: url('../assets/images/css_sprites.png') -490px -10px;
}

ul li#lucero {
    background: url('../assets/images/css_sprites.png') -250px -272px;
}

ul li#marilyn {
    background: url('../assets/images/css_sprites.png') -10px -10px;
}

ul li#milagros {
    background: url('../assets/images/css_sprites.png') -10px -534px;
}

ul li#yenai {
    background: url('../assets/images/css_sprites.png') -490px -534px;
}

ul li#dary a:hover {
    background: url('../assets/images/css_sprites.png') -730px -10px;
}

ul li#diana a:hover {
    background: url('../assets/images/css_sprites.png') -10px -272px;
}

ul li#lucero a:hover {
    background: url('../assets/images/css_sprites.png') -490px -272px;
}

ul li#marilyn a:hover {
    background: url('../assets/images/css_sprites.png') -730px -272px;
}

ul li#milagros a:hover {
    background: url('../assets/images/css_sprites.png') -250px -534px;
}

ul li#yenai a:hover {
    background: url('../assets/images/css_sprites.png') -730px -534px;
}